*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
html{
        scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
    height: 100vh;
    

}

main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #fd4a2b,#fd4a2a);
}
.header_main nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 6vw;
    background: #fd4a2b;
    z-index: 100000000000000000;
    position: fixed;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);

}
.header_title a{
    font-size: 3vw;
    color: aliceblue;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
}
.header_title a:hover{
    color: rgb(32, 31, 31);
    transition: all 0.5s;
}

/* button nav  */
.nav_btn{
    font-size: 1.3em;
    padding: 0.3em 0.5em;
    text-transform: uppercase;
    background: linear-gradient(to left, rgb(55, 55, 55),#fc3b18);
    font-weight: 500;
    color: rgb(246, 246, 246);
    text-align: center;
    border-radius: 0.2em;
    border: unset;
}

/* icon */

.icon{
    color: aliceblue;
    background: #ac3621;
    border-radius: 50%;
    padding: 0.5em;
    padding-bottom: 0.3em;
    cursor: pointer;
}

/* section *1*  */

.section1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intoExplanation{
    width: 80%;
    height: 80vh;
    padding-left: 5rem;
    padding-top: 1rem;
    position: relative;
    top: 1em;

}
.intoExplanation h2{
    font-size: 8vw;
    font-weight: 900;
    line-height: 8vw;
    text-transform: capitalize;
}
.easer{
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding-bottom: 3rem;
    
}
.animatedWord h2{ 
    margin-bottom: 2em;
    font-size: 5vw; 
    z-index: -1;
}
.animatedWord span{
    display: none;
}
/* currentWord */
.animatedWord .currentWord{
    display: block;
    animation: animateToTop .5s ease;

}

/* /leavingWord */
.animatedWord .leavingWord{
    animation: animateToDown .5s ease;
}

@keyframes animateToTop {
    0%{
        transform: translateY(80%);
 
}
100%{
    transform: translateY(0%);
}
}


@keyframes animateToDown {
    0%{
        transform: translateY(0%);
}
100%{
    transform: translateY(-80%);
}
}
/* takeEasy link */
.takeEasy{
    color: #fff;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    text-decoration: unset;

    
}

.bgBtn{
    background-color: transparent;
    padding: 0.5em;
    position: relative;   
    top: 2rem; 
    display: inline-block;
}
.bgBtn div{
    width: 3.5vw;
    height: 6.5vh;
    background-color: rgb(32, 31, 31);
    border-radius: 3em;
    position: absolute;
    top: 0.1em;
    left: -0.1em;
    z-index: -1;
}
.bgBtn:hover div{
    background: rgb(45, 44, 44);
    width: 32vw;
    transition: all .2s ease-in-out;
}


/* .imgExplanation */
.imgExplanation{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6em;
    top: 2.2em;
}
.imgbox{
    position: relative;
    min-width: 40vw;
    margin-right: -3vw;
    
}
.imgbox img{
    width: 90%;
    position: relative;
    right: 5em;
    

}

/* animblob */
.animblob{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 40vw;
    width: 40vw;
    transform: translate(-50%,-50%);
    background: #fff;
    animation: animate_blub 8s linear infinite;
    z-index: -1;
    opacity: 0.9;
}

@keyframes animate_blub {
    0%,100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
    }
    25%{
        border-radius: 50% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50%{
        border-radius: 65% 35% 30% 65% / 40% 60% 30% 70%;
}
25%{
    border-radius: 35% 65% 60% 40% / 40% 60% 30% 70%;
    }
    
}

/* //menu and menu items  */
#check{
    display: none;
}

.closeIcon{
    position: relative;
    top: -2vw;
    left: 16vw;
    background-color: #ac3621;
    color: #ebe9e9;
    text-align: center;
    font-size: 1.5em;
}

.menuItems{
    position: fixed;
    top: 0;
    right: -40vw;
    width: 25vw;
    height: 100%;
    background: #fff;
    padding: 5em 2em 3em 2em;
    transition: 0.3s ease;
    z-index: 10000000000000;
    background: url('../img/bgMen3.jpg') no-repeat center;
}
.menuItems ul{
    height: 70vh;
    overflow: scroll;
}
.menuItems li {
    margin-bottom: 4em;
}
.menuItems li a{
    color: #fd4a2b;
    font-size: 2vw;
    margin: 0.5vw 0;

}
.menuItems li:hover a{
    color: #000;
}

#check:checked~main .menuItems{
    right: 0;
    transition: all 0.3s ease;
}

.haveQuestion{
    height: 10vh;
    padding-top: 3em;
    padding-bottom: 1em;
    border-top: 3px solid rgba(0, 0, 0, 0.082);
    
}
.haveQuestion p{
    font-size: 1.5em;
    padding-bottom: 0.3em;
    color: #3d3d3d;
    position: relative;
    top: -0.8em;
}
.haveQuestion a{
    font-size: 2em;
    color: aliceblue;
    text-transform: capitalize;
    background-color: #fd4a2b;
    border-radius: 0.5em;
    padding: 0.5em;
}
.haveQuestion a:hover{
    color: #3d3d3d;
}
.arrowExplorer{
    color: #e9dfdd;
    transform:rotate(-92deg);
}
/* explorer */
.explorer{
    width: 100%;
    position: absolute;
    top: 55em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explorer p{
    transform:rotate(-92deg);
    position: relative;
    top: -2em;
    right: 0.2em;
    color: aliceblue;
}
.explorer .line{
    width: 5px;
    height: 10vh;
    background-color: #000;
}


/* progress */
.progress{
    background-color: #000;
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: none;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fd4a2b;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;z-index: 10000000000;
    
}
#progresValue{
    display: block;
    height: 2vw;
    width: 2vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    border-radius: 50%;
}




/* scroll bar  */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to left, rgb(55, 55, 55),#fc3b18);
    border-radius: 50px;
}
/* section two  */
.section2{
    height: 100vh;
    background-color: #ffffff;
    position: relative;
}
#bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#bg2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container{
    position: absolute;
    top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3em;
}
.containerBox{ 
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid;
    width: 22vw;
    padding: 5em;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.boxTitle{
    color: #fd4a2b;
    text-shadow: 0 5px 10px rgba(225,225,225,0.2);
    font-size: 2vw;
}
.containerBox p{
    letter-spacing: 0.2px;
    padding: 15px 0;
    color: #3d3d3d;
   
}
.containerBox:hover{
    transform: scale(108%);
    transition: all 0.2s;
}

.BoxButton{
    background-color: transparent;
    position: relative;   
    top: 1rem; 
    display: inline-block;
}
.BoxButton a{
    color: #fd4a2b;
}
.BoxButton div{
    width: 2.5vw;
    height: 5vh;
    background-color: #223;
    border-radius: 3em;
    position: absolute;
    top: -1em;
    left: -1em;
    z-index: -1;
}

.BoxButton a:hover{
    color: #fff;
}
.BoxButton:hover div{
    background: rgb(45, 44, 44);
    width: 10vw;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .2s ease-in-out;

}


/* easystreetLog */
.easystreetLog{
    width: 10vw;
    position: absolute;
    z-index: 1;
    top: 115em;
   right: 50em;
}

/* percent */

.section3{
    height: 100vh;
    background-color: #fff;
    position: relative;
    background: linear-gradient(to left,#fc3a1856, rgb(255, 255, 255) 65%);
    overflow: hidden;
}
.percent{ 
    position: absolute;
    top: -15em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3em;
}
.percent div{ 

}
.percent h2 {
    color: #fd4a2b;
    text-shadow: 0 5px 10px rgba(225,225,225,0.2);
    font-size: 2vw;
}

.sideOne, .sideTwo{ 
    position: relative;
    top: 35em;
    width: 15vw;
}
.sideOne p, .sideTwo p{
    letter-spacing: 1px;
    font-size: 1.5rem;

}
.sideOne h3{
    margin:  1em 0 1em 3em;

}

.sideTwo h3 {
    margin:  1em 0 1em 0em;

}
.sideTwo h2{
    color: #fff;
}
.sideOne{
    left: -25em;
    text-align: right;
}
.sideTwo{
    right: -25em;
}
.centerSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5em;

}
.centerSide img{
width: 50%;
z-index: 100000000;
}
.centerSide h3{
    position: absolute;
    top: 50em;
    color: #3b3b3b;
}


/* section4  */
.section4{
    height: 100vh;
    background-color: #ffffff;
}
.wrapperSection4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerSection4{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
}

.card>.row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card> .row >.productIcon{
    background-color: #223;
    color: white;
    border-radius: 50% ;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card> .row >.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}
.description p{
    color: #b0b0ba;
    padding-top: 5px;
}
.description h4{
    text-transform: uppercase;
}

.section4 input{
    display: none;
}

.section4 input:checked +label{
    width: 600px;
}

.section4 input:checked +label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
    
}
.card[for="product1"]{
    background-image: url('../img/low-poly-brain-design-with-connecting-dots_1048-5757.avif');
}
.card[for="product2"]{
    background-image: url('../img/purple-speech-balloon-design-element_53876-119935.avif');
}
.card[for="product3"]{
    background-image: url('../img/picture-helmet-with-brain-it_1340-34710.avif');
}
.card[for="product4"]{
    background-image: url('../img/human-brain-3d-rendering_23-2150554854.avif');
}
.card[for="product5"]{
    background-image: url('../img/purple-speech-balloon-design-element_53876-119935.avif');
}
.card[for="product6"]{
    background-image: url('../img/picture-helmet-with-brain-it_1340-34710.avif');
}



/* //section5  */
.section5{
    height: 100vh;
    background: url('../img/canvas.png') no-repeat;
    display: flex;
    justify-content: center;
}

.section5MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    
}
 .section5Container{
 width: 30vw;
 /* border: 1px solid; */
 padding: 5vw;
 /* height: 70vh; */
}
.section5Container:hover{
        transition: .6s cubic-bezier(.28, -0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
}
.containerTitle:nth-child(1){ 
    text-align: center;
}
.containerTitle> h2{
    font-size: 3vw;
    color: #223;
}
.containerTitle> h1{
    color: #fd4a2a;
    font-size: 3vw;
}
.easerDescription{ 
    text-align: center;
}
.easerDescription .bradingIcon{
    font-size: 10em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fc3b18;

}
.easerDescription h2{
    font-size: 1.5vw;
    margin: 0.9em;
    color: rgba(34, 34, 51, 0.898);
}
.brandingList p{ 
    text-align: center;
    padding-top: 10px;
    font-size: 1vw;
    color: rgba(34, 34, 51, 0.749);

}
.brandingList p:hover{
    color: #fd4a2b;
}
/* responsive */
@media screen and (max-width: 900px) {
    body{
        overflow: auto;
    }
    .section1{
        flex-wrap: wrap;
    }
    .intoExplanation{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
        top: -10vw; 
    }
    .intoExplanation h2{
        font-size: 14vw;
        line-height: 18vw;
    }
    .takeEasy{
        font-size: 5vw;
        margin-top: 20px;
    }
    
    .bgBtn div{
        width: 8vw;
        height: 8vw;
    }
    .bgBtn:hover div{
        width: 79vw;
    }

    /* .imgExplanation */
.imgExplanation{
    display: flex;
    width: 100%;
    margin-top: -4px;
    height: 50rem;
    overflow: hidden;

}
.imgbox{
    margin-right: -7vw;
    left: 30vw;
    height: 800px;
    margin: 0;
    
}
.imgbox img{
    width: 70%;
    position: relative;
    /* right: 3.5em; */
    

}
.animblob{
    display: none;
}


 
}

@media screen and (max-width: 767px) {    
    /* .imgExplanation */
    .nav_btn{
        display: none;
    }

    .intoExplanation{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
        top: -0; 
    }
    .imgExplanation{
        top: -50vw;
        left: 2em;
        padding-top: 20vw;

    }
    .imgbox{
        margin-right: -7vw;
        left: 10vw;
        height: 800px;
        margin-top: -10vw;
        
    }
    .imgbox img{
        width: 90%;
        position: relative;
        /* right: 3.5em; */
        

    }
}