*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(to left, #fd4a2b,#fd4a2a);
}
main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header_main nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 6vw;
    background: #fd4a2b;
    z-index: 1000;
    position: fixed;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);

}
.header_title a{
    font-size: 3vw;
    color: aliceblue;
    font-weight: 800;
    letter-spacing: 2px;
    text-decoration: none;
}
.header_title a:hover{
    color: rgb(32, 31, 31);
    transition: all 0.5s;
}

/* button nav  */
.nav_btn{
    font-size: 1.3em;
    padding: 0.3em 0.5em;
    text-transform: uppercase;
    background: linear-gradient(to left, rgb(55, 55, 55),#fc3b18);
    font-weight: 500;
    color: rgb(246, 246, 246);
    text-align: center;
    border-radius: 0.2em;
    border: unset;
}

/* icon */

.icon{
    color: aliceblue;
    background: #ac3621;
    border-radius: 50%;
    padding: 0.5em;
    padding-bottom: 0.3em;
    cursor: pointer;
}

/* section *1*  */

.section1{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intoExplanation{
    width: 80%;
    height: 80vh;
    padding-left: 5rem;
    padding-top: 1rem;
    position: relative;
    top: 1em;

}
.intoExplanation h2{
    font-size: 8vw;
    font-weight: 900;
    line-height: 8vw;
    text-transform: capitalize;
}
.easer{
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding-bottom: 3rem;
    
}
.animatedWord h2{ 
    margin-bottom: 2em;
    font-size: 5vw; 
    z-index: -1;
}
.animatedWord span{
    display: none;
}
/* currentWord */
.animatedWord .currentWord{
    display: block;
    animation: animateToTop .5s ease;

}

/* /leavingWord */
.animatedWord .leavingWord{
    animation: animateToDown .5s ease;
}

@keyframes animateToTop {
    0%{
        transform: translateY(80%);
 
}
100%{
    transform: translateY(0%);
}
}


@keyframes animateToDown {
    0%{
        transform: translateY(0%);
}
100%{
    transform: translateY(-80%);
}
}
/* takeEasy link */
.takeEasy{
    color: #fff;
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    text-decoration: unset;

    
}

.bgBtn{
    background-color: transparent;
    padding: 0.5em;
    position: relative;   
    top: 2rem; 
    display: inline-block;
}
.bgBtn div{
    width: 3.5vw;
    height: 6.5vh;
    background-color: rgb(32, 31, 31);
    border-radius: 3em;
    position: absolute;
    top: 0.1em;
    left: -0.1em;
    z-index: -1;
}
.bgBtn:hover div{
    background: rgb(45, 44, 44);
    width: 32vw;
    transition: all .2s ease-in-out;
}


/* .imgExplanation */
.imgExplanation{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6em;
    top: 2.2em;
}
.imgbox{
    position: relative;
    min-width: 40vw;
    margin-right: -7vw;
    
}
.imgbox img{
    width: 90%;
    position: relative;
    right: 3.5em;
    

}

/* animblob */
.animblob{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 40vw;
    width: 40vw;
    transform: translate(-50%,-50%);
    background: #fff;
    animation: animate_blub 8s linear infinite;
    z-index: -1;
    opacity: 0.9;
}

@keyframes animate_blub {
    0%,100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40%;
    }
    25%{
        border-radius: 50% 45% 30% 35% / 50% 30% 60% 10%;
    }
    50%{
        border-radius: 65% 35% 30% 65% / 40% 60% 30% 70%;
}
25%{
    border-radius: 35% 65% 60% 40% / 40% 60% 30% 70%;
    }
    
}

/* //menu and menu items  */
#check{
    display: none;
}

.closeIcon{
    position: relative;
    top: -4vw;
    left: 16vw;
    background-color: transparent;
    color: #000;
}

.menuItems{
    position: fixed;
    top: 0;
    right: -40vw;
    width: 25vw;
    height: 100%;
    background: #fff;
    padding: 5em 2em 3em 2em;
    transition: 0.3s ease;
    z-index: 10000000000000;
}
.menuItems li a{
    color: #fd4a2b;
    font-size: 2vw;
    margin: 0.5vw 0;

}
.menuItems li:hover a{
    color: #000;
}

#check:checked~main .menuItems{
    right: 0;
    transition: all 0.3s ease;
}


/* explorer */
.explorer{
    position: relative;
    top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explorer p{
    transform:rotate(-92deg);
    position: relative;
    top: -2em;
    right: 0.2em;
    color: aliceblue;
}
.explorer .line{
    width: 5px;
    height: 10vh;
    background-color: #000;
}


/* progress */
.progress{
    background-color: #000;
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: none;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fd4a2b;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#progresValue{
    display: block;
    height: 2vw;
    width: 2vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    border-radius: 50%;
}

/* scroll bar  */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to left, rgb(55, 55, 55),#fc3b18);
    border-radius: 50px;
}
/* responsive */
@media screen and (max-width: 900px) {
    body{
        overflow: auto;
    }
    .section1{
        flex-wrap: wrap;
    }
    .intoExplanation{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
        top: -10vw; 
    }
    .intoExplanation h2{
        font-size: 14vw;
        line-height: 18vw;
    }
    .takeEasy{
        font-size: 5vw;
        margin-top: 20px;
    }
    
    .bgBtn div{
        width: 8vw;
        height: 8vw;
    }
    .bgBtn:hover div{
        width: 79vw;
    }

    /* .imgExplanation */
.imgExplanation{
    display: flex;
    width: 100%;
    margin-top: -4px;
    height: 50rem;
    overflow: hidden;

}
.imgbox{
    margin-right: -7vw;
    left: 30vw;
    height: 800px;
    margin: 0;
    
}
.imgbox img{
    width: 70%;
    position: relative;
    /* right: 3.5em; */
    

}
.animblob{
    display: none;
}


 
}

@media screen and (max-width: 767px) {    
    /* .imgExplanation */
    .nav_btn{
        display: none;
    }

    .intoExplanation{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100;
        top: -0; 
    }
    .imgExplanation{
        top: -50vw;
        left: 2em;
        padding-top: 20vw;

    }
    .imgbox{
        margin-right: -7vw;
        left: 10vw;
        height: 800px;
        margin-top: -10vw;
        
    }
    .imgbox img{
        width: 90%;
        position: relative;
        /* right: 3.5em; */
        

    }
}